.canvasArea {
  position: relative;
}
.viewImage {
  position: absolute;
}

.editArea {
  position: absolute;
}

.marker {
  position: absolute;
  background-color: rgba(100, 200, 100);
  border-radius: 50%;
}

.marker span {
  user-select: none;
}
